global:
  scrape_interval: 10s
  evaluation_interval: 10s

alerting:
  alertmanagers:
    - static_configs:
        - targets: [ "alertmanager:9093" ]

scrape_configs:
  - job_name: 'rust-app-via-otel'
    static_configs:
      - targets: [ 'otel-collector:8889' ]
        labels:
          application: 'rust-app'
          environment: 'production'

  - job_name: "node-exporter"
    scrape_interval: 5s
    static_configs:
      - targets: [ "node-exporter:9100" ]
        labels:
          application: "node-exporter"